<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <% include templates/header.ejs %>
        <div class="container"> 

          <p>
          <img src="/images/Map.png" alt="Map">
          </p>
        <% include templates/footer.ejs %>
        </div>
    </body>
</html>