<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <% include templates/header.ejs %>
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
    
                <form action="/login" method="post">
                    
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" id="name">
                            
                            <label for="pass">Pass</label>
                            <input type="text" class="form-control" name="pass" id="pass">

                          </div>
                          <button type="submit" class="btn btn-default">Enter</button>
                </form>
              </div>
            </div>
        </div>
    </body>
</html>