<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <% include templates/header.ejs %>
      <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1>User</h1>

                <form action="/register" method="post">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name">
                    
                    <label for="pass">Pass</label>
                    <input type="text" class="form-control" name="pass" id="pass">
                    
                    <label for="pass">One more</label>
                    <input type="text" class="form-control">

                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <h2>User list: </h2>
                <table class="table">
                  <tbody>

        <% for(var i=0; i<users.length; i++) {%>
        <tr>
           <td><%= users[i].name %></td><td><%= users[i].pass %></td>
           </tr>
        <% } %>

                  </tbody>
                </table>
              </div>
            </div>
      </div>
           
    </body>
</html>
