<div class="container">
	<div class="row">

	
	<div class="navbar navbar-inverse navbar-fixed-bottom">	 
	 <div class="container">
	 <div class="navbar-header">
		<ul  class="nav navbar-nav">

			<li><a href="/"  > Помощь</a></li>
			<li><a href="#" >О нас</a></li>
			<li><a href="/login" >Блог</a></li>
			<li><a href="/register" >Контакты</a></li>

		</ul>	
		</div>
		</div>
		
	</div>
	</div>
</div>
