<header>
			<div class="navbar navbar-inverse navbar-static-top">	 
		 <div class="container">
		 <div class="navbar-header">
		 <i class="fa fa-location-arrow   navbar-brand"></i>
					<a class="navbar-brand" href="/"  >Logo</a>
		<ul  class="nav navbar-nav">

				<li><a href="#" >Создать группу</a></li>
				<li><a href="/login" >Войти</a></li>
				<li><a href="/register" >Регистрация</a></li>

			</ul>	
			</div>
			</div>

		</div>
	<div class="container">
		<div class="row">

		<h1> Strelki-Vstrechi </h1>
		<!-- 
				 <i class="fa fa-refresh fa-spin"></i>
			 <p><i class="fa fa-location-arrow  fa-spin"></i></p>
			 <p><i class="glyphicon glyphicon-heart"></i></p>
			 <p><i class="glyphicon glyphicon-resize-small fa-spin"></i></p>
	-->

		</div>
	</div>
</header>